* {
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    scroll-behavior: smooth;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    scroll-behavior: smooth;
}

input{
    outline: none;
}

.menu {
    position: fixed;
    background-color: #EFF0F0;
    width: 100%;
    height: 10vh;
    display: grid;
    grid-template-columns: 5% 80% 15%;
    gap: 5px;
    align-items: center;
    border-radius: 0 0 10px 10px;
    padding: 5px 10px;
    z-index: 1;

    -webkit-box-shadow: 0px 8px 7px -6px rgba(168,168,168,1);
    -moz-box-shadow: 0px 8px 7px -6px rgba(168,168,168,1);
    box-shadow: 0px 8px 7px -6px rgba(168,168,168,1);
}

.menu .esquerda, .menu .direita{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.menu a{
    text-decoration: none;
}

span#burguer{
    color: #999999;
    font-size: 40px;
    display: flex;
    justify-content: center;
}

span#burguer:hover, span#burguer:focus{
    color: #7269F2;
    cursor: pointer;
}

.logo {
    width: 120px;
    height: 40px;
    background: linear-gradient(90deg, #2D20EE 0%, #7269F2 100%);
    border-radius: 25px;
    color: white;
    font-size: 18px;
    font-weight: 800;
    line-height: 22px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.perfil{
    background: linear-gradient(0deg, #2D20EE 0%, #7269F2 100%);
    width: 45px;
    height: 45px;
    border-radius: 25px;
    text-decoration: none;
    text-align: center;
    /* display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center; */

    -webkit-box-shadow: -2px 15px 41px -17px rgba(117,117,117,1);
    -moz-box-shadow: -2px 15px 41px -17px rgba(117,117,117,1);
    box-shadow: -2px 15px 41px -17px rgba(117,117,117,1);

}

.perfil span{
    color: white;
    font-size: 35px;
    line-height: 40px;
}

.perfil:hover{
    background: #7269F2;
    cursor: pointer;
}

#opcoes{
    position: fixed;
    top: 0;
    left: -300px;
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 100vh;
    padding-top: 65px;
    background-color: #EFF0F0;

    -webkit-box-shadow: 7px -3px 7px -6px rgba(168,168,168,1);
    -moz-box-shadow: 7px -3px 7px -6px rgba(168,168,168,1);
    box-shadow: 7px -3px 7px -6px rgba(168,168,168,1); 

    transition: left 0.5s ease-in-out;
}

#opcoes span{
    width: 100%;
    height: 50px;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #2D20EE;
    font-weight: bold;
    font-size: 18px;
    /* border: 2px solid #999999; */
}

#opcoes span:hover{
    background-color: #dadada;
    cursor: pointer;
}

#opcoes .linha{
    background-color: #afafaf;
    height: 2px;
    padding: 0;
    margin: 0;
}

#opcoes .linha:hover, #opcoes .linha:focus{
    background-color: #afafaf;
    cursor: default;
}

#dadoSensores{
    width: 100%;
    height: 15vh;
    margin-top: 60px;
    background-color: #EAEAEA;

    display: grid;
    grid-template-columns: 35% 65%;
}

#dadoSensores span{
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

#dadoSensores .esquerda{
    font-size: 35px;
    font-weight: 900;
    color: #2D20EE;
}

#dadoSensores .direita button{
    color: white;
    background-color: #60CE60;
    border: 0;
    border-radius: 10px;
    width: 200px;
    height: 40px;
    font-size: 17px;
    font-weight: bold;
}

#dadoSensores .direita button:hover, #dadoSensores .direita button:focus{
    cursor: pointer;
}

#dadoSensores .direita .alerta{
    background-color: #e63535;
    -webkit-box-shadow: 7px -3px 15px -3px rgba(255,107,107,1);
    -moz-box-shadow: 7px -3px 15px -3px rgba(255,107,107,1);
    box-shadow: 7px -3px 15px -3px rgba(255,107,107,1);
}

.dash{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px 40px;

}

.dash .cima{
    width: 100%;
    display: grid;
    grid-template-columns: 75% 24%;
    gap: 10px;
    padding: 20px;
    /* align-items: center;
    justify-content: center; */
}

.graficoTitulo{
    color: #2D20EE;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin: 0;
}

.dash .cima .esquerda{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.dash .cima .esquerda canvas{
    height: 300px;
}

.dash .cima .direita{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.dash .cima .direita canvas{
    height: 100px;
}

.dash .KPIs{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dash .baixo {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.dash .baixo span{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    color: #2D20EE;
    font-weight: bold;
    font-size: 20px;
}

.dash .baixo canvas{
    height: 300px;
}

.metricas{
    width: 300px;
    height: 40px; 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    flex-direction: row; 
    border-radius: 5px;   
    font-weight: bold; 
    font-size: 16px;
    color: #696969;
}

.metricas p{
    width: 100px;
    text-align: center;
    margin-top: 5px;
}

.metricas span{
    display: flex; 
    justify-content: center; 
    align-items: center;
    color: white;
}

.seguro{
    background-color: #60CE60;
    width: 80px;
    border-radius: 5px 0px 0px 5px;
}

.risco{
    background-color: #e63535; 
    width: 100px;
}

.extremo{
    background-color: #be2828;
    width: 120px;
    border-radius: 0px 5px 5px 0px;
}

.dash .esquerda .titulo{
    background-color: #60CE60;
    width: 200px;
    line-height: 40px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;
    margin: 0;
    text-align: center;
    text-justify: center;
}

.dash .esquerda .titulo.alerta{
    background-color: #e63535;
    -webkit-box-shadow: 7px -3px 15px -3px rgba(255,107,107,1);
    -moz-box-shadow: 7px -3px 15px -3px rgba(255,107,107,1);
    box-shadow: 7px -3px 15px -3px rgba(255,107,107,1);
}

.dash .KPIs {
    width: 22%;
    display: flex;
    flex-direction: row;
}

.dash .KPIs span{
    width: 200px;
    height: 70px;
    border: solid 3px #afafaf;
    border-radius: 10px;
    text-align: center;
    color: #afafaf;
    font-weight: bold;
    margin-bottom: 10px;
}

.dash .KPIs .nome{
    background-color: #afafaf;
    color: white;
    line-height: 30px;
    margin: 0;
    font-size: 15px;
}

.dash .KPIs .dado{
    margin: 0;
    line-height: 35px;
    font-size: 18px;
}

.dash .KPIs .status.alerta{
    color: #e63535;
    border: solid 3px #e63535;
}

.dash .KPIs .status.seguro{
    color: #60CE60;
    border: solid 3px #60CE60;
    background-color: white;
}

.dash .KPIs .status.seguro .nome {
    background-color: #60CE60;
}

.dash .KPIs .status.alerta .nome {
    background-color: #e63535;
}

.dash .baixo select{
    border: solid 2px #2D20EE;
    border-radius: 10px;
    width: 35%;
    height: 40px;
    color: #2D20EE;
    font-weight: bold;
    font-size: 17px;
    padding: 0 10px;
}

/* PERFIL */

#perfil {
    position: fixed;
    right: -620px;
    top: 0;
    padding: 100px 40px;
    background-color: #dfdfdf;
    width: 600px;
    height: 100vh;

    display: flex;
    flex-direction: column;

    -webkit-box-shadow: -2px 8px 26px 0px rgba(161,161,161,1);
    -moz-box-shadow: -2px 8px 26px 0px rgba(161,161,161,1);
    box-shadow: -2px 8px 26px 0px rgba(161,161,161,1);

    transition: right 0.5s ease-in-out;
}

#perfil .titulo{
    color: #2D20EE;
    font-weight: bolder;
    font-size: 40px;
    margin: 0;
    align-self: center;
}

#perfil .linha{
    width: 80%;
    height: 2px;
    background: linear-gradient(90deg, #2D20EE 0%, #7269F2 100%);
    align-self: center;
    margin: 10px 0;
    border-radius: 10px;
}

#perfil .form{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 15px;
    padding: 0 25px;
}

#perfil p{
    margin: 0;
    color: #696969;
    font-weight: bold;
}

#perfil .subtitulo{
    color: #696969;
    font-size: 16px;
    align-self: center;
}

#perfil input, #perfil select{
    width: 100%;
    height: 35px;
    border-radius: 8px;
    border: 2px solid #b8b8b8;
    color: #696969;
    padding: 0 10px;
}

#perfil button{
    background-color: #2D20EE;
    border: 0;
    border-radius: 8px;
    height: 35px;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

#perfil button:hover, #perfil button:focus{
    background: #7269F2;
    cursor: pointer;
    transition: 0.5s;
}

#perfil #close{
    color: #a09f9f;
    font-size: 30px;
    position: absolute;
}

#perfil #close:hover, #perfil #close:focus{
    cursor: pointer;
    color: #696969;
}

/* TROCA DE SENSOR */

#sensor2, #sensor3{
    display: none;
}

#sensor1{
    display: flex;
}

/* GRAFICOS */

.graficoLinha{
    /* width: 900px !important;
    margin-bottom: 10px; */
}