@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-image: url(img/circle.png);
    background-position: right top;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    scroll-behavior: smooth;
}
/* MENU */
.menu {
    position: relative;
    background-color: rgb(226, 218, 218);
    width: 92%;
    height: 60px;
    display: grid;
    grid-template-columns: 10% 80% 10%;
    gap: 5px;
    align-items: center;
    border-radius: 10px;
    padding: 5px 10px;
    margin-top: 10px;
    z-index: 5;
    top: 0px;

    -webkit-box-shadow: -2px 15px 41px -17px rgba(117,117,117,1);
    -moz-box-shadow: -2px 15px 41px -17px rgba(117,117,117,1);
    box-shadow: -2px 15px 41px -17px rgba(117,117,117,1);
}

.logo {
    width: 120px;
    height: 40px;
    background: linear-gradient(90deg, #2D20EE 0%, #7269F2 100%);
    border-radius: 25px;
    color: white;
    font-size: 18px;
    font-weight: 800;
    line-height: 22px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    font-size: 18px;
    font-weight: bolder;
    margin-right: 20px;
}

.buttons a {
    text-decoration: none;
    color: black;
    cursor: pointer;
    transition: 0.4s;
}

.buttons a:hover, .buttons a:focus {
    color: #2D20EE;
    transition: 0.4s;
}

.contratar {
    width: 100px;
    height: 30px;
    background: #2D20EE;
    border-radius: 25px;
    
    color: white;
    font-size: 18px;
    font-weight: 800;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    color: white;
    cursor: pointer;
    font-weight: bolder;
    font-size: 18px;
    transition: background 0.5s ease, transform 0.5s ease;

}

.contratar:hover, .contratar:focus {
    background: #7269F2;
    transform: scale(1.1);
}

/* HOME */
#inicio {
    width: 90%;
    display: flex;
    gap: 120px;
    align-items: center;
    margin-bottom: 50px;
}

#inicio .titulo{
    width: 480px;
    font-size: 60px;
    font-weight: 900;
    line-height: 90px;
    margin-bottom: 0;
}

#inicio .linha{
    background: linear-gradient(to right, #2D20EE, #7269F2);
    border-radius: 10px;
    width: 90%;
    height: 3px;
    margin: 15x 0;
    display: flex;
}

.text {
    width:450px;
    font-size: 28px;
    font-weight: 700;
    line-height: 45px;
    text-align: left;
}

.destaque {
    color: #2D20EE;
}

.imgInicio{
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgInicio img {
    width: 90%;
    border-radius: 50px;
}

#fundoHome{
    width: 100%;
    background: linear-gradient(to bottom, #EFF0F0, #ffff);
    /* background-color: #EFF0F0; */
    border-radius: 70px 70px 0 0;
}

#valores{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
    margin: 50px 0;
}

.card{
    width: 300px;
    height: 270px;
    border-radius: 35px;
    padding: 20px;
    background-color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    -webkit-box-shadow: -2px 15px 41px -17px rgba(117,117,117,1);
    -moz-box-shadow: -2px 15px 41px -17px rgba(117,117,117,1);
    box-shadow: -2px 15px 41px -17px rgba(117,117,117,1);
}

.card img{
    width: 60px;
    margin-bottom: 5px;
}

.linha{
    background: linear-gradient(to right, #2D20EE, #7269F2);
    border-radius: 10px;
    width: 80%;
    height: 2px;
    margin: 9px 0;
}

.card p{
    margin: 7px;
    line-height: 25px;
}

#cadastrese{
    background: linear-gradient(to right, #2D20EE, #7269F2);
    width: 100%;
    height: 150px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 50px 0;
}

#cadastrese span{
    width: 50%;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    color: white;
    font-weight: 600;
}

.botaoLink{
    width: 250px;
    height: 60px;
    border-radius: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
    
    text-decoration: none;
    font-weight: 700;
    color: #564cdd;
    background-color: white;
    transition: background 0.5s ease, transform 0.5s ease;
}

.botaoLink:hover, .botaoLink:focus{
    transform: scale(1.1);
}

#sobreNos{
    width: 100%;
    height: 300px;
    margin: 50px 0;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#sobreNos .subTitulo {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 10px;
}

#sobreNos .linha {
    width: 40%;
    height: 3px;
}

#sobreNos p{
    width: 50%;
    font-size: 20px;
    font-weight: 500;
    line-height: 40px;
}

#projeto {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.cardProjeto {
    width: 70%;
    height: 400px;
    background: linear-gradient(to right, #2D20EE, #7269F2);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.cardProjeto div {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    color: white;
    font-size: 15px;
}

.cardProjeto .subTitulo{
    font-size: 25px;
    font-weight: 800;
    line-height: 40px;
}

.cardProjeto p{
    margin-bottom: 20px;
}

.cardProjeto img{
    border-radius: 0 20px 20px 0;
}

/* RODAPÉ */
footer{
    width: 100%;
    background-color: black;
    padding-top: 10px;
    color: white;
    display: grid;
    grid-template-columns: 35% 65%;
}

.rodapeEsq {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
}

.rodapeEsq .titulo{
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 10px;
}

.rodapeEsq .contato{
    margin-bottom: 20px;
    font-size: 13px;
    font-weight: 200;
}

#form{
    display: grid;
    grid-template-rows: 1fr 1.5fr 1fr;
}

#form span{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.input_email {
    grid-column: span 2;
    width: 100% !important;
}

#form span input{
    height: 40px;
    background-color: black;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    padding-left: 5px;
    outline: none;
}

#form span input:focus{
    border: 2px solid #929292;
}

#form span input::placeholder{
    color: white;
}

textarea{
    width: 100%;
    height: 100px;
    margin: 10px 0;
    color: #ffff;
    background-color: black;
    font-size: 13px;
    padding: 10px;
    border: 2px solid aliceblue;
    border-radius: 10px;
    resize: none;
    outline: none;
}

textarea:focus{
    border: 2px solid #929292;
}

#contato {
    width: 100%;
    height: 40px;
    background-color: black;
    color: white;
    border: 2px solid white;
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: 400;
}

#contato:hover, #contato:focus{
    cursor: pointer;
    border: 2px solid #929292;
    color: #d8d7d7;
}

.rodapeDir{
    display: flex;
    font-size: 16px;
    gap: 10px;
    padding: 30px;
}

.endereco, .contato{
    width: 35%;
}

.endereco p, .contato p{
    width: 70%;
    line-height: 25px;
}

.contato a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.contato a:hover, .contato a:focus{
    color: #929292;
}

.endereco .titulo, .contato .titulo, .direitos .titulo{
    font-weight: 700;
}
/* .input_rodape{
    background-color: black;
    padding: 7px;
    color: aliceblue;
    font-size: 17px;
    font-weight: 200;
    line-height: 30px;
}

.input_rodape{
    background-color: black;
    position: relative;
    left: 50px;
    bottom: 50px;
    border: 2px solid aliceblue;
    border-radius: 50px;
} */

/* .select_cargo{
    font-size: 16px;
    color: gray;
    background-color: black;
    border-radius: 50px;
    border: 2px solid aliceblue;
    position: relative;
    left: 50px;
    bottom: 51px;
    width: 17.4%;
    height: 48px;
} */


/* footer button{
    position: relative;
    left: 50px; bottom: 18px;
    color: aliceblue;
    background-color: black;
    border: 2px solid aliceblue;
    border-radius: 50px;
    height: 50px;
    width: 20%;
} */

.contato_geral{
    color: aliceblue;
    text-align:right;
    font-size: 17px;
    font-weight: 200;   
}

.contato_geral span{
    font-weight: bold;
    position: relative;
    bottom: 400px; right: 5%;
    text-align: right;
    width: 100px;
    margin-left: 190px;
}

.contato_geral p{
    position: relative;
    bottom: 400px; left: 30%;
    text-align: right;
    width: 600px;
    margin-left: 0px;
}

/* TELA DE CADASTRO E LOGIN */
.imgCad {
    width: 500px;
}

.corpo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

.img{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.form span{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.form h2 {
    text-align: center;
    width: 220px;
    margin: 0;
    color: #2D20EE;
}

.form .linha{
    background: linear-gradient(to right, #2D20EE, #7269F2);
    border-radius: 10px;
    width: 70%;
    height: 3px;
    margin: 5px 0;
    display: flex;
}

/* .form hr {
    color: #2D20EE;
    border-width: 10px;
} */

.form input {
    width: 100%;
    height: 35px;
    border: 0;
    border-radius: 10px;
    padding-left: 15px;
    font-weight: 700;
    font-family: "Inter", sans-serif;
}

.form .input_errada {
    width: 100%;
    height: 35px;
    border: 10px;
    border-color: red;
    border-radius: 10px;
    padding-left: 15px;
    font-weight: 700;
    font-family: "Inter", sans-serif;
}

.form button {
    width: 100%;
    height: 40px;
    background: #2D20EE;
    color: white;
    border: 0;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bolder;
    font-family: "Inter", sans-serif;
    cursor: pointer;
    transition: background 0.5s ease;
}

.form button:hover, .form button:focus{
    background: #7269F2;
}

.form a{
    text-decoration: none;
    color: #2D20EE;
    font-size: 12px;
    align-self: flex-start;
    font-weight: bold;
}

.form a:hover, .form a:focus{
    color: #1a1191;
}

/* CALCULADORA */
.info{
    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.esquerda, .direita{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
}

.direita{
    gap: 10px;
    padding-left: 20px;
}

.info .titulo{
    font-size: 34px;
    font-weight: 900;
    text-align: left;
    width: 300px;
    color: #2D20EE;
    margin: 0;
}

.esquerda .subTitulo, .direita .subTitulo{
    font-size: 25px;
    font-weight: 800;
    color: #2D20EE;
    width: fit-content;
    margin: 0;
    margin-top: 20px;
}

.info .texto{
    width: 455px;
    height: 70px;
    font-size: 17px;
    font-weight: 600;
    color: gray;
}

.info ul {
    color: gray;
    width: 450px;
    height: 100px;
    font-weight: 600;
    padding-left: 20px;
}

.info li{
    padding-bottom: 10px;
}

.label{
    color: gray;
    font-weight: 600;
    margin: 0;
}

.info select, .info input{
    width: 400px;
    height: 40px;
    border: 0;
    border-radius: 10px;
    padding-left: 15px;
    font-weight: 700;
    font-family: "Inter", sans-serif;
    color: #9b9b9b;
}

.info input::placeholder{
    color: #9b9b9b;
}

option{
    margin: 10px;
    border-radius: 20px;
}

.options{
    margin: 5px;
}

.calcular{
    width: 400px;
    height: 40px;
    background: #2D20EE;
    color: white;
    border: 0;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bolder;
    font-family: "Inter", sans-serif;
    cursor: pointer;
    transition: background 0.5s ease;
}

.calcular:hover, .calcular:focus{
    background: #7269F2;
}