* {
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    scroll-behavior: smooth;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 200,
        'GRAD' 0,
        'opsz' 24
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    scroll-behavior: smooth;
}

input {
    outline: none;
}

.menu {
    position: fixed;
    background-color: #EFF0F0;
    width: 100%;
    height: 10vh;
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 5px;
    align-items: center;
    border-radius: 0 0 10px 10px;
    padding: 1vh 3vw;
    z-index: 1;

    -webkit-box-shadow: 0px 8px 7px -6px rgba(168, 168, 168, 1);
    -moz-box-shadow: 0px 8px 7px -6px rgba(168, 168, 168, 1);
    box-shadow: 0px 8px 7px -6px rgba(168, 168, 168, 1);
}

/* PARTE ESQUERDA DO MENU */

.menu .esquerda {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 2.5vw;
}

.menu a {
    text-decoration: none;
}

span#burguer {
    color: #999999;
    font-size: 40px;
    display: flex;
    justify-content: center;
}

span#burguer:hover,
span#burguer:focus {
    color: #7269F2;
    cursor: pointer;
}

.logo {
    width: 120px;
    height: 40px;
    background: linear-gradient(90deg, #2D20EE 0%, #7269F2 100%);
    border-radius: 25px;
    color: white;
    font-size: 18px;
    font-weight: 800;
    line-height: 22px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.perfil {
    width: fit-content;
    height: 45px;
    border-radius: 25px;
    text-decoration: none;
    text-align: center;
    justify-self: center;
    color: #2D20EE;

}

.perfil span {
    /* color: #2D20EE; */
    font-size: 5vw;
    line-height: 40px;
}

.perfil:hover {
    color: white;
    cursor: pointer;
}

#menuPerfil {
    position: absolute;
    top: -5vw;
    align-self: flex-end;
    background-color: #e4e4e4;
    color: #646464;
    display: flex;
    flex-direction: column;
    border-radius: 0 0 1vh 1vh;
    -webkit-box-shadow: 2px 0px 13px 0px rgba(204, 204, 204, 1);
    -moz-box-shadow: 2px 0px 13px 0px rgba(204, 204, 204, 1);
    box-shadow: 2px 0px 13px 0px rgba(204, 204, 204, 1);

    transition: top 0.5s ease-in-out;
}

#menuPerfil a {
    width: 12vw;
    padding: 1vh;
    text-decoration: none;
    color: #646464;
    font-weight: 600;

}

#menuPerfil a:hover,
#menuPerfil a:focus {
    background-color: #2D20EE;
    color: white;
    cursor: pointer;
}

/* ENDEREÇO */

#endereco {
    position: fixed;
    right: -620px;
    top: 0;
    padding: 100px 40px;
    background-color: #dfdfdf;
    width: 600px;
    height: 100vh;

    display: flex;
    flex-direction: column;

    -webkit-box-shadow: -2px 8px 26px 0px rgba(161, 161, 161, 1);
    -moz-box-shadow: -2px 8px 26px 0px rgba(161, 161, 161, 1);
    box-shadow: -2px 8px 26px 0px rgba(161, 161, 161, 1);

    transition: right 0.5s ease-in-out;
}

#endereco .titulo {
    color: #2D20EE;
    font-weight: bolder;
    font-size: 40px;
    margin: 0;
    align-self: center;
}

#endereco .linha {
    width: 80%;
    height: 2px;
    background: linear-gradient(90deg, #2D20EE 0%, #7269F2 100%);
    align-self: center;
    margin: 10px 0;
    border-radius: 10px;
}

#endereco .form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 15px;
    padding: 0 25px;
}

#endereco p {
    margin: 0;
    color: #696969;
    font-weight: bold;
}

#endereco .subtitulo {
    color: #696969;
    font-size: 16px;
    align-self: center;
}

#endereco input,
#endereco select {
    width: 100%;
    height: 35px;
    border-radius: 8px;
    border: 2px solid #b8b8b8;
    color: #696969;
    padding: 0 10px;
}

#endereco button {
    background-color: #2D20EE;
    border: 0;
    border-radius: 8px;
    height: 35px;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

#endereco button:hover,
#endereco button:focus {
    background: #7269F2;
    cursor: pointer;
    transition: 0.5s;
}

#endereco .aFuncionario {
    color: #2D20EE;
    height: 3vh;
    width: auto;
    text-decoration: none;
    font-weight: 700;
    align-self: center;
    font-size: 2.5vh;
}

#endereco .aFuncionario:hover,
#endereco .aFuncionario:focus {
    color: #7269F2;
}

#endereco #close {
    color: #a09f9f;
    font-size: 30px;
    position: absolute;
}

#endereco #close:hover,
#endereco #close:focus {
    cursor: pointer;
    color: #696969;
}

.menu .titulo {
    color: #2D20EE;
    font-weight: 900;
    font-size: 3vh;
    margin: 0;
}

/* PARTE DIREITA DO MENU */

.menu .direita {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.menu a {
    text-decoration: none;
}

.perfil {
    width: fit-content;
    height: 45px;
    border-radius: 25px;
    text-decoration: none;
    text-align: center;
    justify-self: center;
    color: #2D20EE;
}

.perfil span {
    /* color: #2D20EE; */
    font-size: 5vw;
    line-height: 40px;
}

.perfil:hover {
    color: white;
    cursor: pointer;
}

#menuPerfil {
    position: absolute;
    top: -5vw;
    align-self: flex-end;
    background-color: #e4e4e4;
    color: #646464;
    display: flex;
    flex-direction: column;
    border-radius: 0 0 1vh 1vh;
    -webkit-box-shadow: 2px 0px 13px 0px rgba(204, 204, 204, 1);
    -moz-box-shadow: 2px 0px 13px 0px rgba(204, 204, 204, 1);
    box-shadow: 2px 0px 13px 0px rgba(204, 204, 204, 1);

    transition: top 0.5s ease-in-out;
}

#menuPerfil a {
    width: 12vw;
    padding: 1vh;
    text-decoration: none;
    color: #646464;
    font-weight: 600;

}

#menuPerfil a:hover,
#menuPerfil a:focus {
    background-color: #2D20EE;
    color: white;
    cursor: pointer;
}

/* ENDEREÇO */

#endereco {
    position: fixed;
    right: -620px;
    top: 0;
    padding: 100px 40px;
    background-color: #dfdfdf;
    width: 600px;
    height: 100vh;

    display: flex;
    flex-direction: column;

    -webkit-box-shadow: -2px 8px 26px 0px rgba(161, 161, 161, 1);
    -moz-box-shadow: -2px 8px 26px 0px rgba(161, 161, 161, 1);
    box-shadow: -2px 8px 26px 0px rgba(161, 161, 161, 1);

    transition: right 0.5s ease-in-out;
}

#endereco .titulo {
    color: #2D20EE;
    font-weight: bolder;
    font-size: 40px;
    margin: 0;
    align-self: center;
}

#endereco .linha {
    width: 80%;
    height: 2px;
    background: linear-gradient(90deg, #2D20EE 0%, #7269F2 100%);
    align-self: center;
    margin: 10px 0;
    border-radius: 10px;
}

#endereco .form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 15px;
    padding: 0 25px;
}

#endereco p {
    margin: 0;
    color: #696969;
    font-weight: bold;
}

#endereco .subtitulo {
    color: #696969;
    font-size: 16px;
    align-self: center;
}

#endereco input,
#endereco select {
    width: 100%;
    height: 35px;
    border-radius: 8px;
    border: 2px solid #b8b8b8;
    color: #696969;
    padding: 0 10px;
}

#endereco button {
    background-color: #2D20EE;
    border: 0;
    border-radius: 8px;
    height: 35px;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

#endereco button:hover,
#endereco button:focus {
    background: #7269F2;
    cursor: pointer;
    transition: 0.5s;
}

#endereco .aFuncionario {
    color: #2D20EE;
    height: 3vh;
    width: auto;
    text-decoration: none;
    font-weight: 700;
    align-self: center;
    font-size: 2.5vh;
}

#endereco .aFuncionario:hover,
#endereco .aFuncionario:focus {
    color: #7269F2;
}

#endereco #close {
    color: #a09f9f;
    font-size: 30px;
    position: absolute;
}

#endereco #close:hover,
#endereco #close:focus {
    cursor: pointer;
    color: #696969;
}

* {
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(circle.png);
    background-repeat: no-repeat;
    background-position: right;
}

#div_funcionarioQuadro {
    width: 100vw;
    padding: 6vh 2vw;
    color: #696969;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#div_funcionarioQuadro h1 {
    color: #2D20EE;
    font-weight: 700;
    font-size: 2em;
    margin: 0;
}

#div_funcionarioQuadro .funcionario-card {
    background-color: #f3f3f3;
    width: 80vw;
    margin: 10px 0;
    padding: 2em;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#div_funcionarioQuadro .funcionario-card .info {
    font-size: 1.1em;
    color: #696969;
}

#div_funcionarioQuadro .funcionario-card .delete-button {
    background-color: #df0e0e;
    width: 50px;
    height: 50px;
    border: 0;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    cursor: pointer;

    transition: ease-in-out 0.2s;
}

.delete-button:hover, .delete-button:focus{
    transform: scale(0.95);
}

#div_funcionarioQuadro .add-button {
    background: linear-gradient(90deg, #2D20EE 0%, #7269F2 100%);
    border: 0;
    border-radius: 8px;
    width: 80vw;
    height: 50px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    transition: ease-in-out 0.2s;
}

.add-button:hover, .add-button:focus{
    transform: scale(0.95);
}

#alerta input {
    width: 100%;
    height: 5vh;
    border-radius: 8px;
    border: 2px solid #b8b8b8;
    color: #696969;
    padding: 0 10px;
}

#alerta input::placeholder{
    color: #a8a8a8;
    font-weight: 600;
}

/* .addFuncionario {
    display: flex;
    position: relative;
    float: left;
    flex-direction: column;
    height: 300px;
    justify-content: space-around;
} */

#alerta {
    display: none;
    align-items: center;
    justify-content: space-between;
    justify-content: center;
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #27272771;
    overflow: hidden;
}

.card {
    width: 35vw;
    height: fit-content;
    background-color: white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #696969;
    font-weight: bold;
    gap: 10px;
    padding: 20px;
}

.card img {
    width: 100px;
}

.card p {
    margin: 0;
}

.card .titulo {
    color: #2D20EE;
    font-size: 5vh;
    margin: 0.5vh;
    margin-top: 0;
}

.card span{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.card label{
    align-self: flex-start;
}

.card #closeAlerta {
    color: #a09f9f;
    font-size: 30px;
    text-align: end;
}

.card #closeAlerta:hover {
    cursor: pointer;
    color: #696969;
}

.botao_cadastro{
    width: 100%;
    height: 35px;
    background-color: #2D20EE;
    border: 0;
    border-radius: 1vh;
    color: white;
    font-weight: bold;
    font-size: 2.5vh;
    cursor: pointer;
    transition: ease-in-out 0.2s;
}

.botao_cadastro:hover, .botao_cadastro:focus{
    background-color: #5348f0;
}