* {
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    scroll-behavior: smooth;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

/* div {
    color: #e63535;
    color: #ffad14;
    color: #60CE60;
} */

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    scroll-behavior: smooth;
}

input{
    outline: none;
}

.menu {
    position: fixed;
    background-color: #EFF0F0;
    width: 100%;
    height: 10vh;
    display: grid;
    grid-template-columns: 5% 35% 60%;
    gap: 5px;
    align-items: center;
    border-radius: 0 0 10px 10px;
    padding: 5px 10px;
    z-index: 1;

    -webkit-box-shadow: 0px 8px 7px -6px rgba(168,168,168,1);
    -moz-box-shadow: 0px 8px 7px -6px rgba(168,168,168,1);
    box-shadow: 0px 8px 7px -6px rgba(168,168,168,1);
}

.menu .esquerda{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.menu .direita{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.menu .centro{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1vw;
}

.menu .titulo {
    color: #2D20EE;
    font-weight: 900;
    font-size: 2.5vh;
    margin: 0;
}

#sensores{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 1vw;
}

#sensores button{
    color: white;
    background-color: #60CE60;
    border: 0;
    border-radius: 10px;
    width: 200px;
    height: 40px;
    font-size: 17px;
    font-weight: bold;
}

#sensores .alerta{
    background-color: #e63535;
    border: 3px solid #a11919;
}

#sensores button:hover, #dadoSensores button:focus{
    cursor: pointer;
    transform: scale(0.9);
}

.menu a{
    text-decoration: none;
}

span#burguer{
    color: #999999;
    font-size: 40px;
    display: flex;
    justify-content: center;
}

span#burguer:hover, span#burguer:focus{
    color: #7269F2;
    cursor: pointer;
}

.logo {
    width: 120px;
    height: 40px;
    background: linear-gradient(90deg, #2D20EE 0%, #7269F2 100%);
    border-radius: 25px;
    color: white;
    font-size: 18px;
    font-weight: 800;
    line-height: 22px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.perfil{
    width: fit-content;
    height: 45px;
    border-radius: 25px;
    text-decoration: none;
    text-align: center;
    justify-self: center;
    color: #2D20EE;

}

.perfil span{
    /* color: #2D20EE; */
    font-size: 5vw;
    line-height: 40px;
}

.perfil:hover{
    color: white;
    cursor: pointer;
}

#menuPerfil {
    position: absolute;
    top: -5vw;
    align-self: flex-end;
    background-color: #e4e4e4;
    color: #646464;
    display: flex;
    flex-direction: column;
    border-radius: 0 0 1vh 1vh;
    -webkit-box-shadow: 2px 0px 13px 0px rgba(204, 204, 204, 1);
    -moz-box-shadow: 2px 0px 13px 0px rgba(204, 204, 204, 1);
    box-shadow: 2px 0px 13px 0px rgba(204, 204, 204, 1);

    transition: top 0.5s ease-in-out;
}

#menuPerfil a{
    width: 12vw;
    padding: 1vh;
    text-decoration: none;
    color: #646464;
    font-weight: 600;
    
}

#menuPerfil a:hover, #menuPerfil a:focus{
    background-color: #2D20EE;
    color: white;
    cursor: pointer;
}

#opcoes{
    position: fixed;
    top: 0;
    left: -300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 250px;
    height: 100vh;
    padding-top: 10vh;
    padding-bottom: 4vh;
    background-color: #EFF0F0;

    -webkit-box-shadow: 7px -3px 7px -6px rgba(168,168,168,1);
    -moz-box-shadow: 7px -3px 7px -6px rgba(168,168,168,1);
    box-shadow: 7px -3px 7px -6px rgba(168,168,168,1); 

    transition: left 0.5s ease-in-out;
}

#opcoes .filial{
    width: 100%;
    height: fit-content;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #2D20EE;
    font-weight: bold;
    font-size: 2.2vh;
    border-bottom: #afafaf solid 2px;
    /* border: 2px solid #999999; */
}

#opcoes .filial:hover{
    background-color: #dadada;
    cursor: pointer;
}

#opcoes .voltar{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    color: white;
    background-color: #2D20EE;
    width: 10vw;
    height: 5vh;
    border-radius: 1.5vh;
    text-decoration: none;
    font-weight: 700;
}
#opcoes .voltar:hover, #opcoes .voltar:focus{
    background-color: #7269F2;
    transform: scale(0.9);
}

.spanTitulo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dash{
    margin-top: 10vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;

}

.dash .cima{
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 10px;
    padding: 20px;
}

.graficoTitulo{
    color: #2D20EE;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin: 0;
}

.dash .cima .esquerda{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;   
}

.cima .divEsq{
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.dash .cima .esquerda canvas{
    height: 300px;
}

.dash .cima .esquerda .funcionarios canvas{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;

}



.dash .cima .direita{
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 20px;
    align-items: start;
}

.baixo {
    grid: 2;
}

.dash .cima .direita canvas{
    height: 100px;
}

.dash .KPIs{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.metricas{
    width: 300px;
    height: 20px; 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    flex-direction: row; 
    border-radius: 5px;   
    font-weight: bold; 
    font-size: 16px;
    color: #696969;
}

.metricas p{
    width: 100px;
    text-align: center;
    margin-top: 5px;
}

.seguro{
    background-color: #60CE60;
    width: 100px;
    border-radius: 5px 0px 0px 5px;
}

.risco{
    background-color: #eb801d; 
    width: 100px;
    color: #464646;
}

.extremo{
    background-color: #e63535;
    width: 120px;
    border-radius: 0px 5px 5px 0px;
}

.metricas span{
    display: flex; 
    justify-content: center; 
    align-items: center;
    color: white;
}

.dash .baixo {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 600px;
 
}

.dash .baixo span{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    color: #2D20EE;
    font-weight: bold;
    font-size: 20px;
}

.dash .baixo canvas{
    height: 300px;
}

.dash .esquerda .titulo{
    background-color: #60CE60;
    width: 200px;
    line-height: 40px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;
    margin: 0;
    text-align: center;
    text-justify: center;
}

.dash .titulo.alerta{
    background-color: #e63535;
}

.dash .KPIs {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 20px;
}

.dash .KPIs span{
    width: 200px;
    height: 70px;
    border: solid 3px #afafaf;
    border-radius: 10px;
    text-align: center;
    color: #afafaf;
    font-weight: bold;
    margin-bottom: 10px;
}

.dash .KPIs .nome{
    background-color: #afafaf;
    color: white;
    line-height: 30px;
    margin: 0;
    font-size: 15px;
}

.dash .KPIs .dado{
    margin: 0;
    line-height: 35px;
    font-size: 18px;
}

.dash .KPIs .status.alerta{
    color: #e63535;
    border: solid 3px #e63535;
}

.dash .KPIs .status.seguro{
    color: #60CE60;
    border: solid 3px #60CE60;
    background-color: white;
}

.dash .KPIs .status.seguro .nome {
    background-color: #60CE60;
}

.dash .KPIs .status.alerta .nome {
    background-color: #e63535;
}

.dash .baixo select{
    border: solid 2px #2D20EE;
    border-radius: 10px;
    width: 80%;
    height: 40px;
    color: #2D20EE;
    font-weight: bold;
    font-size: 17px;
    padding: 0 10px;
}

.graficoLinha1{
    width: 850px;
    height: 450px;
    margin-bottom: 10px;
}

/* ENDEREÇO */

#endereco {
    position: fixed;
    right: -620px;
    top: 0;
    padding: 100px 40px;
    background-color: #dfdfdf;
    width: 600px;
    height: 100vh;

    display: flex;
    flex-direction: column;

    -webkit-box-shadow: -2px 8px 26px 0px rgba(161,161,161,1);
    -moz-box-shadow: -2px 8px 26px 0px rgba(161,161,161,1);
    box-shadow: -2px 8px 26px 0px rgba(161,161,161,1);

    transition: right 0.5s ease-in-out;
}

#endereco .titulo{
    color: #2D20EE;
    font-weight: bolder;
    font-size: 4vh;
    margin: 0;
    align-self: center;
}

#endereco .linha{
    width: 80%;
    height: 2px;
    background: linear-gradient(90deg, #2D20EE 0%, #7269F2 100%);
    align-self: center;
    margin: 10px 0;
    border-radius: 10px;
}

#endereco .form{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 15px;
    padding: 0 25px;
}

#endereco p{
    margin: 0;
    color: #696969;
    font-weight: bold;
}

#endereco .subtitulo{
    color: #696969;
    font-size: 16px;
    align-self: center;
}

#endereco input, #endereco select{
    width: 100%;
    height: 35px;
    border-radius: 8px;
    border: 2px solid #b8b8b8;
    color: #696969;
    padding: 0 10px;
}

#endereco button{
    background-color: #2D20EE;
    border: 0;
    border-radius: 8px;
    height: 35px;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

#endereco button:hover, #endereco button:focus{
    background: #7269F2;
    cursor: pointer;
    transition: 0.5s;
}

#endereco .aFuncionario {
    color: #2D20EE;
    height: 3vh;
    width: auto;
    text-decoration: none;
    font-weight: 700;
    align-self: center;
    font-size: 2.5vh;
}

#endereco .aFuncionario:hover, #endereco .aFuncionario:focus{
    color: #7269F2;
}

#endereco #close{
    color: #a09f9f;
    font-size: 30px;
    position: absolute;
}

#endereco #close:hover, #endereco #close:focus{
    cursor: pointer;
    color: #696969;
}

/* MANUTENÇÃO */

#divManutencao {
    position: fixed;
    right: -620px;
    /* right: 0; */
    top: 0;
    padding: 3vh;
    padding-top: 7vw;
    background-color: #dfdfdf;
    width: 600px;
    height: 100vh;

    display: flex;
    flex-direction: column;

    -webkit-box-shadow: -2px 8px 26px 0px rgba(161,161,161,1);
    -moz-box-shadow: -2px 8px 26px 0px rgba(161,161,161,1);
    box-shadow: -2px 8px 26px 0px rgba(161,161,161,1);

    transition: right 0.5s ease-in-out;
}

#manutencao .titulo{
    color: #2D20EE;
    font-weight: bolder;
    font-size: 4vh;
    margin: 0;
    align-self: center;
}

#manutencao .linha{
    width: 80%;
    height: 2px;
    background: linear-gradient(90deg, #2D20EE 0%, #7269F2 100%);
    align-self: center;
    margin: 10px 0;
    border-radius: 10px;
}

/* #manutencao .form{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 15px;
    padding: 0 25px;
} */

#historico {
    width: 100%;
    height: 100%;
    padding: 3vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
    color: #646464;
    overflow: auto;
}

#historico .manutencao{
    display: flex;
    flex-direction: column;

    background-color: white;
    width: 100%;
    height: 18vh;
    padding: 2vh;
    border-radius: 1vh;
    gap: 1vh;
}

#historico::-webkit-scrollbar {
    width: 0.6vw;               /* width of the entire scrollbar */
  }
  
#historico::-webkit-scrollbar-track {
    background: none;        /* color of the tracking area */
}

#historico::-webkit-scrollbar-thumb {
    background-color: #2D20EE;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: none;  /* creates padding around scroll thumb */
}

#manutencao h3{
    color: #2D20EE;
    margin: 0;
}

#manutencao p{
    margin: 0;
    color: #696969;
    font-weight: 500;
}

#manutencao .subtitulo{
    color: #696969;
    font-size: 16px;
    align-self: center;
}

#manutencao input, #manutencao select{
    width: 100%;
    height: 35px;
    border-radius: 8px;
    border: 2px solid #b8b8b8;
    color: #696969;
    padding: 0 10px;
}

#manutencao button{
    background-color: #2D20EE;
    border: 0;
    border-radius: 8px;
    height: 35px;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

#manutencao button:hover, #manutencao button:focus{
    background: #7269F2;
    cursor: pointer;
    transition: 0.5s;
}

#manutencao .aFuncionario {
    color: #2D20EE;
    height: 3vh;
    width: auto;
    text-decoration: none;
    font-weight: 700;
    align-self: center;
    font-size: 2.5vh;
}

#manutencao .aFuncionario:hover, #manutencao .aFuncionario:focus{
    color: #7269F2;
}

#manutencao #close{
    color: #a09f9f;
    font-size: 30px;
    position: absolute;
}

#manutencao #close:hover, #manutencao #close:focus{
    cursor: pointer;
    color: #696969;
}

/* ALERTA */

#alerta{
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #27272771;
    overflow: hidden;
}

.card {
    width: 35vw;
    height: 52vh;
    background-color: white;
    border-radius: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #696969;
    font-weight: bold;
    gap: 10px;
    padding: 20px;
}

.card img {
    width: 100px;
}

.card p{
    margin: 0;
    text-align: center;
}

.card .atencao{
    color: #e40f0f;
    font-size: 23px;
}

.card #closeAlerta {
    color: #a09f9f;
    font-size: 30px;
    align-self: end;
}

.card #closeAlerta:hover{
    cursor: pointer;
    color: #696969;
}

/* TROCA DE SENSOR */

#sensor2, #sensor3{
    display: none;
}

#sensor1{
    display: flex;
}

/* BOTAO TOGGLE */

.onoff {
    margin-right: 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.onoff p{
    color: #464646;
    font-size: 2.2vh;
    font-weight: 600;
}

.onoff input.toggle {
    display: none;
}

.onoff input.toggle + label {
    display: inline-block;
    position: relative;
    box-shadow: inset 0 0 0px 1px #d5d5d5;
    height: 3vh;
    width: 3vw;
    border-radius: 2vh;
    background-color: #e63535;
    cursor: pointer;
}

.onoff input.toggle + label:before {
    content: "";
    display: block;
    height: 3vh;
    width: 2vw;
    border-radius: 2vh;
    background: rgba(19, 191, 17, 0);
    transition: 0.1s ease-in-out;
    
}

.onoff input.toggle + label:after {
    content: "";
    position: absolute;
    height: 3vh;
    width: 2vw;
    top: 0;
    left: 0px;
    border-radius: 30px;
    background: #fff;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2), 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: 0.1s ease-in-out;
    content: 'OFF';
    font-size: 1.5vh;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #e63535;
    
    box-shadow: inset 0 0 0 1px #ff1717, 0 2px 4px rgba(0, 0, 0, 0.2);
}

.onoff input.toggle:checked + label:after {
    content: 'ON';
    color: #60CE60;
}

.onoff input.toggle:checked + label:before {
    width: 2vw;
    background: #60CE60;
}

.onoff input.toggle:checked + label:after {
    left: 2vh;
    box-shadow: inset 0 0 0 1px #13bf11, 0 2px 4px rgba(0, 0, 0, 0.2);
}