* {
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../img/circle.png);
    background-repeat: no-repeat;
    background-position: right;
    height: 100vh;
}

.menu {
    position: fixed;
    top: 0;
    background-color: #EFF0F0;
    width: 100%;
    height: 10vh;
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 5px;
    align-items: center;
    border-radius: 0 0 10px 10px;
    padding: 1vh 3vw;
    z-index: 1;

    -webkit-box-shadow: 0px 8px 7px -6px rgba(168, 168, 168, 1);
    -moz-box-shadow: 0px 8px 7px -6px rgba(168, 168, 168, 1);
    box-shadow: 0px 8px 7px -6px rgba(168, 168, 168, 1);
}

/* PARTE ESQUERDA DO MENU */

.menu .esquerda {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 2.5vw;
}

.menu a {
    text-decoration: none;
}

.logo {
    width: 120px;
    height: 40px;
    background: linear-gradient(90deg, #2D20EE 0%, #7269F2 100%);
    border-radius: 25px;
    color: white;
    font-size: 18px;
    font-weight: 800;
    line-height: 22px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu .titulo {
    color: #2D20EE;
    font-weight: 900;
    font-size: 3vh;
    margin: 0;
}

.menu .direita {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

section {
    padding: 2vh 15vh;
    margin-top: 15vh;
    width: 100%;
    height: 100vh;
}

section h2{
    margin: 0;
    color: #2D20EE;
    font-size: 5vh;
    font-weight: 800;
}

section p{
    color: #63666A;
    font-weight: 600;
}

.divJira{
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
    height: 24vh;
    width: 100%;
}

.divJira a {
    background-color: #2D20EE;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12vw;
    height: 6vh;
    border-radius: 1vh;
    text-decoration: none;
    gap: 1vh;

    transition: ease-in-out 0.2s;
}

.divJira a:hover, .divJira a:focus {
    background-color: #5347f3;
}

.divJira p {
    display: flex;
    flex-direction: row;
    align-items: center;
}

img{
    height: 4vh;
}

.divBob button{
    background-color: #63B1BC;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5vh;
    width: 12vw;
    height: 6vh;
    font-size: 3vh;
    font-weight: 700;
    border-radius: 1vh;

    transition: ease-in-out 0.2s;
}

#container {
    position: absolute;
    right: 2vw;
    bottom: 2vw;
    width: 50% !important;
    height: 80%;
    margin-bottom: 0px !important;
    border: 2px #1F2A44 solid;
    border-radius: 1vh;
    background-color: #63B1BC;
    display: none;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 50px auto;
    text-align: center;
} 

h1 {
    color: #1F2A44;
}

textarea[type="text"] {
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    width: 400px;
}

select,
button {
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

button {
    background-color: #ED145B;
    color: #FFFFFF;
    border: none;
}

button:hover {
    background-color: #EFB661;
}

#resposta {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: #D0D3D4;
    border: 1px solid #63666A;
    text-align: left;
    display: none;
}