@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-image: url(../img/circle.png);
    background-position: right top;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    scroll-behavior: smooth;
}

input{
    outline: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* MENU */
.menu {
    position: relative;
    background-color: rgb(226, 218, 218);
    width: 92%;
    height: 60px;
    display: grid;
    grid-template-columns: 10% 80% 10%;
    justify-content: space-between;
    gap: 5px;
    align-items: center;
    border-radius: 10px;
    padding: 5px 10px;
    margin-top: 10px;
    z-index: 5;
    top: 0px;

    -webkit-box-shadow: -2px 15px 41px -17px rgba(117,117,117,1);
    -moz-box-shadow: -2px 15px 41px -17px rgba(117,117,117,1);
    box-shadow: -2px 15px 41px -17px rgba(117,117,117,1);
}

.logo {
    width: 120px;
    height: 40px;
    background: linear-gradient(90deg, #2D20EE 0%, #7269F2 100%);
    border-radius: 25px;
    color: white;
    font-size: 18px;
    font-weight: 800;
    line-height: 22px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    font-size: 18px;
    font-weight: bolder;
    margin-right: 10px;
}

.buttons a {
    text-decoration: none;
    color: black;
    cursor: pointer;
    transition: 0.4s;
}

.buttons a:hover, .buttons a:focus {
    color: #2D20EE;
    transition: 0.4s;
}

.perfil{
    background: linear-gradient(0deg, #2D20EE 0%, #7269F2 100%);
    width: 45px;
    height: 45px;
    border-radius: 25px;
    text-decoration: none;
    text-align: center;
    justify-self: center;

    -webkit-box-shadow: -2px 15px 41px -17px rgba(117,117,117,1);
    -moz-box-shadow: -2px 15px 41px -17px rgba(117,117,117,1);
    box-shadow: -2px 15px 41px -17px rgba(117,117,117,1);

}

.perfil span{
    color: white;
    font-size: 35px;
    line-height: 40px;
}

.perfil:hover{
    background: #7269F2;
    cursor: pointer;
}

/* HOME */
#inicio {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 50px;
}

#inicio .titulo{
    width: 480px;
    font-size: 50px;
    font-weight: 900;
    line-height: 90px;
    margin-bottom: 0;
}

#inicio .linha{
    background: linear-gradient(to right, #2D20EE, #7269F2);
    border-radius: 10px;
    width: 90%;
    height: 3px;
    margin: 15x 0;
    display: flex;
}

.text {
    width: 450px;
    font-size: 23px;
    font-weight: 700;
    line-height: 40px;
    text-align: left;
}

.destaque {
    color: #2D20EE;
}

.imgInicio{
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgInicio img {
    width: 400px;
    border-radius: 50px;
}

#fundoHome{
    width: 100%;
    background: linear-gradient(to bottom, #EFF0F0, #ffff);
    /* background-color: #EFF0F0; */
    border-radius: 70px 70px 0 0;
}

#valores{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 50px 0;
}

.card{
    width: 300px;
    height: 270px;
    border-radius: 35px;
    padding: 20px;
    background-color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    -webkit-box-shadow: -2px 15px 41px -17px rgba(117,117,117,1);
    -moz-box-shadow: -2px 15px 41px -17px rgba(117,117,117,1);
    box-shadow: -2px 15px 41px -17px rgba(117,117,117,1);
}

.card img{
    width: 60px;
    margin-bottom: 5px;
}

.linha{
    background: linear-gradient(to right, #2D20EE, #7269F2);
    border-radius: 10px;
    width: 80%;
    height: 2px;
    margin: 9px 0;
}

.card p{
    margin: 7px;
    line-height: 25px;
}

#cadastrese{
    background: linear-gradient(to right, #2D20EE, #7269F2);
    width: 100%;
    height: 150px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 50px 0;
}

#cadastrese span{
    width: 50%;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    color: white;
    font-weight: 600;
}

.botaoLink{
    width: 250px;
    height: 60px;
    border-radius: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
    
    text-decoration: none;
    font-weight: 700;
    color: #564cdd;
    background-color: white;
    transition: background 0.5s ease, transform 0.5s ease;
}

.botaoLink:hover, .botaoLink:focus{
    transform: scale(1.1);
}

#sobreNos{
    width: 100%;
    height: 300px;
    margin: 50px 0;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#sobreNos .subTitulo {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 10px;
}

#sobreNos .linha {
    width: 40%;
    height: 3px;
}

#sobreNos p{
    width: 50%;
    font-size: 20px;
    font-weight: 500;
    line-height: 40px;
}

#projeto {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.cardProjeto {
    width: 70%;
    height: 400px;
    background: linear-gradient(to right, #2D20EE, #7269F2);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.cardProjeto div {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    color: white;
    font-size: 15px;
}

.cardProjeto .subTitulo{
    font-size: 25px;
    font-weight: 800;
    line-height: 40px;
}

.cardProjeto p{
    margin-bottom: 20px;
}

.cardProjeto img{
    border-radius: 0 20px 20px 0;
}

/* RODAPÉ */
footer{
    width: 100%;
    background-color: black;
    padding-top: 10px;
    color: white;
    display: grid;
    grid-template-columns: 35% 65%;
}

.rodapeEsq {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
}

.rodapeEsq .titulo{
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 10px;
}

.rodapeEsq .contato{
    margin-bottom: 20px;
    font-size: 13px;
    font-weight: 200;
}

#form{
    display: grid;
    grid-template-rows: 1fr 1.5fr 1fr;
}

#form span{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.input_email {
    grid-column: span 2;
    width: 100% !important;
}

#form span input{
    height: 40px;
    background-color: black;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    padding-left: 5px;
    outline: none;
}

#form span input:focus{
    border: 2px solid #929292;
}

#form span input::placeholder{
    color: white;
}

textarea{
    width: 100%;
    height: 100px;
    margin: 10px 0;
    color: #ffff;
    background-color: black;
    font-size: 13px;
    padding: 10px;
    border: 2px solid aliceblue;
    border-radius: 10px;
    resize: none;
    outline: none;
}

textarea:focus{
    border: 2px solid #929292;
}

#contato {
    width: 100%;
    height: 40px;
    background-color: black;
    color: white;
    border: 2px solid white;
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: 400;
}

#contato:hover, #contato:focus{
    cursor: pointer;
    border: 2px solid #929292;
    color: #d8d7d7;
}

.rodapeDir{
    display: flex;
    font-size: 16px;
    gap: 10px;
    padding: 30px;
}

.endereco, .contato{
    width: 35%;
}

.endereco p, .contato p{
    width: 70%;
    line-height: 25px;
}

.contato a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.contato a:hover, .contato a:focus{
    color: #929292;
}

.endereco .titulo, .contato .titulo, .direitos .titulo{
    font-weight: 700;
}

.contato_geral{
    color: aliceblue;
    text-align:right;
    font-size: 17px;
    font-weight: 200;   
}

.contato_geral span{
    font-weight: bold;
    position: relative;
    bottom: 400px; right: 5%;
    text-align: right;
    width: 100px;
    margin-left: 190px;
}

.contato_geral p{
    position: relative;
    bottom: 400px; left: 30%;
    text-align: right;
    width: 600px;
    margin-left: 0px;
}

/* CALCULADORA */
#info{
    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

#esquerda, #direita{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
}

#direita{
    gap: 10px;
    padding-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#calculadora{
    gap: 10px;
    padding-left: 20px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#info .titulo{
    font-size: 34px;
    font-weight: 900;
    text-align: left;
    width: 300px;
    color: #2D20EE;
    margin: 0;
}

#esquerda .subTitulo, #direita .subTitulo{
    font-size: 25px;
    font-weight: 800;
    color: #2D20EE;
    width: fit-content;
    margin: 0;
    margin-top: 20px;
}

#info .texto{
    width: 455px;
    height: 70px;
    font-size: 17px;
    font-weight: 600;
    color: gray;
}

#info ul {
    color: gray;
    width: 450px;
    height: 100px;
    font-weight: 600;
    padding-left: 20px;
}

#info li{
    padding-bottom: 10px;
}

.label{
    color: gray;
    font-weight: 600;
    margin: 0;
}

#info select, #info input{
    width: 400px;
    height: 40px;
    border: 0;
    border-radius: 10px;
    padding-left: 15px;
    font-weight: 700;
    font-family: "Inter", sans-serif;
    color: #9b9b9b;
}

#info input::placeholder{
    color: #9b9b9b;
}

option{
    margin: 10px;
    border-radius: 20px;
}

/* .options{
    margin: 5px;
} */

.calcular{
    width: 400px;
    height: 40px;
    background: #2D20EE;
    color: white;
    border: 0;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bolder;
    font-family: "Inter", sans-serif;
    cursor: pointer;
    transition: background 0.5s ease;
}

.calcular:hover, .calcular:focus{
    background: #7269F2;
}

#calculadora .erro{
    color: #da0d0d;
    font-size: 14px;
    margin: 0;
    font-weight: 600;
}

/* RESULTADO CALCULADORA */

#div_mensagem {
    background-color: #EFF0F0;
    border-radius: 20px;
    width: 550px;
    height: 400px;
    color: #646464;
    font-size: 16px;
    -webkit-box-shadow: -2px 15px 41px -17px rgba(117,117,117,1);
    -moz-box-shadow: -2px 15px 41px -17px rgba(117,117,117,1);
    box-shadow: -2px 15px 41px -17px rgba(117,117,117,1);
}

#resultado{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    height: 100%;
    padding: 20px;
}

#div_mensagem .titulo{
    width: 100%;
    text-align: center;
}

.inseridos{
    color: #646464;
    margin: 0;
    text-align: center;
}

.rotulo {
    color: #2D20EE;
    font-weight: bold;
}

#div_mensagem .linha{
    align-self: center;
    background: linear-gradient(to right, #2D20EE, #7269F2);
    border-radius: 10px;
    width: 65%;
    height: 2px;
    margin: 15x 0;
    display: flex;
}

.resultado{
    text-align: center;
    border-radius: 10px;
    font-weight: bold;
    color: #2D20EE;
    line-height: 20px;
}

.corresponde p{
    font-size: 14px;
    margin: 0;
    text-align: center;
}

.corresponde span{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.corresponde button{
    margin-top: 10px;
    font-size: 15px;
    font-weight: bold;
    background-color: #2D20EE;
    color: white;
    border: 0;
    border-radius: 5px;
    width: 45%;
    height: 30px;
}

.corresponde button:hover, .corresponde button:focus{
    background-color: #1a1191;
    transition: 0.5s;
    cursor: pointer;
}

/* TELA SEM VAZAMENTO */

#semVazamento{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 5px;
    padding: 20px;
}

#semVazamento p{
    margin: 0;
}

#semVazamento img{
    width: 80px;
    margin: 0;
}

#semVazamento .verde{
    color: #08a708; 
    /* color: #2D20EE; */
    font-size: 30px; 
    font-weight: bold;
}

.atencao{
    color: #f70000;
    font-weight: bold;
    font-size: 20px;
    margin: 5px 0;
}

#semVazamento button{
    margin-top: 10px;
    font-size: 15px;
    font-weight: bold;
    background-color: #2D20EE;
    color: white;
    border: 0;
    border-radius: 5px;
    width: 50%;
    height: 30px;
}

#semVazamento button:hover, #semVazamento button:focus{
    background-color: #1a1191;
    transition: 0.5s;
    cursor: pointer;
}

/* TELA GASTO NÃO CORRESPONDENTE */

#nao{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 20px;
}

#nao img {
    width: 100px;
    align-self: center;
}

#nao .atencao{
    align-self: center;
    font-weight: 800;
    font-size: 22px;
}

#nao button{
    margin-top: 10px;
    font-size: 15px;
    font-weight: bold;
    background-color: #f70000;
    color: white;
    border: 0;
    border-radius: 5px;
    width: 80%;
    height: 40px;
}

#nao button:hover, #nao button:focus{
    background-color: #da0d0d;
    transition: 0.5s;
    cursor: pointer;
}

/* TELA COM VAZAMENTO */

#comVazamento {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    gap: 15px;
}

#comVazamento p{
    margin: 0;
}

#comVazamento .esquerda{
    gap: 12px;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

#comVazamento .direita{
    width: 100%;
    height: 100%;
    padding: 20px;
    color: white;
    border-radius: 0 10px 10px 0px;
    background: linear-gradient(0deg, #2D20EE 0%, #7269F2 100%);
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#comVazamento .direita button{
    background-color: #2e20ee00;
    color: white;
    font-weight: 500;
    width: 150px;
}

#comVazamento .direita button:hover, #comVazamento .direita button:focus{
    background-color: #2e20ee00;
    color: #dddddd;
    font-weight: 500;
    transition: 0s;
}

/* #comVazamento button:hover{
    color: #000000;
    font-weight: bolder;
} */

#comVazamento .contratar{
    background-color: #ececec;
    color: #2D20EE;
    border-radius: 5px;
    width: 70%;
    height: 30px;
    margin: 0;
}

#comVazamento .obs{
    text-align: center;
    font-size: 15px;
}

#comVazamento button{
    font-size: 15px;
    font-weight: bold;
    background-color: #2e20ee;
    color: white;
    border: 0;
    border-radius: 5px;
    width: 30%;
    height: 30px;
}

#comVazamento button:hover, #comVazamento button:focus{
    background-color: #1a1191;
    transition: 0.5s;
    cursor: pointer;
}

.vermelho{
    font-size: 18px;
    color: #f70000;
    font-weight: bold;
}

#comVazamento .titulo{
    font-size: 23px;
    color: #2D20EE;
    margin: 0;
}

#comVazamento .linha{
    width: 80%;
    height: 3px;
    margin: 2px;
}

.incorreto {
    font-size: 18px;
    font-weight: bold;
}
